html, body {
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  top: 50%;
  text-align: center;
  color: white;
}

header {
  position: fixed;
  top: 0;
  height: 115px;
  width: 100%;
  min-width: 630px;
  background: #dc143c;
}

.search {
  position: fixed;
  display: flex;
  align-items: center;
  top: 95px;
  height: 55px;
  width: 100%;
  min-width: 630px;
  padding-left: 15px; //
  background: blue;

  input {
    height: 15px;
    width: 400px;
    padding: 15px;
    font-size: 15px;
    background: white;
    opacity: .5;
  }
}

section {
  position: fixed;
  display: flex;
  top: 150px;
  height: 600px;
  width: 100%;
  background: #87CEEB;

  .container {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    align-content: flex-start;
    justify-content: center;
    height: 100%;
    min-width: 630px;
    overflow-y: scroll;

    .tile {
      height: 200px;
      width: 200px;
      margin: 5px;
      background: #6A5ACD;
      opacity: 1;
      -webkit-transition:all linear 1s;
      transition:all linear 1s;

      .selected { //this will be a class added on ng click
        position: absolute;
        top:0;
        left:0;
        height: 600px;
        width: 100%;
        padding: 15px;
        z-index: 99;
        background: #6A5ACD;
      }
      // selected animations
      .selected.ng-hide-add, .selected.ng-hide-remove {
        transition:0s linear all;
      }
      .selected.ng-hide-add-active,
      .selected.ng-hide-remove-active {
        transition:0.5s linear all;
      }
      .selected.ng-hide {
        // height: 0px; //slider?
        width: 0px;
      }
    }

    // Tile Animations
    .tile.ng-enter {
      opacity: 0;
    }
    .tile.ng-enter-stagger {
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;

      // To avoid CSS inheritance
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
    .tile.ng-enter.ng-enter-active {
      opacity: 1;
    }
    .tile.ng-leave, .title.ng-leave-active {
      opacity: 0;
      -webkit-transition:all linear 0s;
      transition:all linear 0s;
    }
  }

  .sidebar {
    position: relative;
    flex: 1;
    background: yellow;
  }
}

//temp
.clear {
  height: 30px;
  width: 80px;
  float: right;
}

footer {
  position: fixed;
  top: 750px;
  bottom: 0;
  width: 100%;
  background: #dc143c;
}
