//colors
$color-dataxu-purple: #94348C;
$color-dataxu-blue: #093D72;
$color-dataxu-blue-dynamic: #2471C3;
$color-dataxu-blue-medium: #5A87D9;
$color-dataxu-blue-light: #6CAAE4;
$color-dataxu-green: #6CC049;
$color-dataxu-yellow: #D8C722;
$color-dataxu-pink: #DC9089;
$color-dataxu-red: #E24646;
$color-dataxu-white: #FFFFFF;
$color-dataxu-gray-light-ultra: #F1EFF0;
$color-dataxu-gray-light: #D0D2D3;
$color-dataxu-gray-medium: #87898F;
$color-dataxu-gray-charcoal: #464953;
$color-dataxu-gray-dark: #2B2D34;

//fonts
$font-copy: Arial, 'Helvetica Neue';
$font-headline: Palatino, 'Palatino Linotype';

//scroll bar
::-webkit-scrollbar-track {
  background-color: $color-dataxu-gray-light-ultra;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: $color-dataxu-gray-light-ultra;
}
::-webkit-scrollbar-thumb {
  background-color: $color-dataxu-blue-light;
  border: 2px solid $color-dataxu-blue-light;
}

html, body, h1 {
  margin: 0;
  padding: 0;
  font-family: $font-copy;
}

html {
  overflow-y: scroll;
}

h1 {
  text-align: center;
  font-size: 15px;
  color: white;
}

input {
  width: 400px;
  font-size: 20px;
  background: $color-dataxu-white;
  opacity: .5;
}
input:focus {
  opacity: 1;
}
input.short {
  width: 95%;
}

.container-main {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  header {
    height: 55px;
    width: 100%;
    background: $color-dataxu-red;

    img {
      height: 35px;
      padding: 10px;
    }
  }

  .container-search {
    position:relative;
    display: flex;
    height: 55px;
    width: 100%;
    background: $color-dataxu-blue;
    box-shadow: 0 4px 2px -2px gray;
    z-index: 99; //for box shadow

    .col-flex {
      display: flex;
      flex: 1;
      height: 100%;
      min-width: 560px;
      align-items: center;
      padding: 0px 15px;

      span {
        color: $color-dataxu-white;
      }
    }
  }

  .container-content {
    position: relative;
    display: flex;
    flex: 1;
  }
}

.container-tiles {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  align-content: flex-start;
  height: 100%;
  min-width: 550px;
  overflow-y: scroll;

  .container-tile {
    position:relative;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    margin: 10px;
    background: $color-dataxu-white;
    opacity: 1;
    border-left: 1px solid $color-dataxu-gray-light-ultra;
    box-shadow: 4px 4px 4px grey;
    cursor: pointer;
    -webkit-transition:all linear .3s;
    transition:all linear .3s;

    .content-tile {
      position:relative;
      flex:1;
      padding: 15px;
    }
  }
  .container-tile:hover {
    transform: scale(1.02);
    box-shadow: 8px 8px 8px grey;
  }
  // Tile Animations
  .container-tile.ng-enter {
    opacity: 0;
  }
  .container-tile.ng-enter-stagger {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;

    // To avoid CSS inheritance
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
  .container-tile.ng-enter.ng-enter-active {
    opacity: 1;
  }
  .container-tile.ng-leave, .container-tile.ng-leave-active {
    opacity: 0;
    -webkit-transition:all linear 0s;
    transition:all linear 0s;
  }
}

.col-flex-1 {
  flex: 1;
  align-items: center;
  padding: 5px;
}

.col-flex-2 {
  flex: 1;
  align-items: center;
  padding: 5px;
}

.heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  overflow: hidden;
  background: $color-dataxu-blue;
  color: $color-dataxu-white;

  span {
    font-size: 20px;
    padding: 5px;
    color: white;
  }
}

.sidebar {
  position:relative;
  flex: 1;
  background: #D0D2D3;
}

.square-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 35px;
  font-size: 30px;
  font-weight: bold;
  color: $color-dataxu-red;
}

//FILTER BOX DIRECTIVE
.container-side {
  position:relative;
  display: flex;
  margin: 15px;
  flex-direction: column;
  height: 400px;

  .container-content-side {
    flex: 1;
    flex-direction: column;
    background: $color-dataxu-white;
    overflow-y: scroll;

    .content-side {
      display: flex;
      align-items: center;
      height: 20px;
      padding: 15px;
      cursor: pointer;
      border-bottom: 1px solid $color-dataxu-gray-charcoal;
    }

    .content-side:hover {
      background: $color-dataxu-gray-light-ultra;
    }
  }
}
