//colors
$color-dataxu-purple: #94348C;
$color-dataxu-blue: #093D72;
$color-dataxu-blue-dynamic: #2471C3;
$color-dataxu-blue-medium: #5A87D9;
$color-dataxu-blue-light: #6CAAE4;
$color-dataxu-green: #6CC049;
$color-dataxu-yellow: #D8C722;
$color-dataxu-pink: #DC9089;
$color-dataxu-red: #E24646;
$color-dataxu-white: #FFFFFF;
$color-dataxu-gray-light-ultra: #F1EFF0;
$color-dataxu-gray-light: #D0D2D3;
$color-dataxu-gray-medium: #87898F;
$color-dataxu-gray-charcoal: #464953;
$color-dataxu-gray-dark: #2B2D34;

//fonts
$font-copy: Arial, 'Helvetica Neue';
$font-headline: Palatino, 'Palatino Linotype';

html, body, h1 {
  margin: 0;
  padding: 0;
  font-family: $font-copy;
}

h1 {
  text-align: center;
  font-size: 15px;
  color: white;
}

header {
  position: fixed;
  top: 0;
  height: 115px;
  width: 100%;
  min-width: 630px;
  background: $color-dataxu-red;
}

.search {
  position: fixed;
  display: flex;
  align-items: center;
  top: 95px;
  height: 55px;
  width: 100%;
  min-width: 630px;
  padding-left: 15px; //remove?
  background: $color-dataxu-blue;

  input {
    height: 15px;
    width: 400px;
    padding: 15px;
    font-size: 15px;
    background: white;
    opacity: .5;
  }
}

section {
  position: fixed;
  display: flex;
  top: 150px;
  height: 600px;
  width: 100%;
  background: #6CAAE4;

  .container {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    align-content: flex-start;
    justify-content: left;
    height: 100%;
    min-width: 650px;
    overflow-x: hidden;
    overflow-y: scroll;

    .tile {
      height: 200px;
      width: 200px;
      margin: 10px;
      background: $color-dataxu-white;
      opacity: 1;
      box-shadow: 4px 4px 4px grey;
      -webkit-transition:all linear 1s;
      transition:all linear 1s;

      .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 200px;
        overflow: hidden;
        background: $color-dataxu-blue;
        color: $color-dataxu-white;
      }

      .selected { //this will be a class added on ng click
        position: absolute;
        top:0;
        left:0;
        height: 600px;
        width: 100%;
        padding: 15px;
        z-index: 99;
        background: $color-dataxu-white;
      }
      // selected animations
      .selected.ng-hide-add, .selected.ng-hide-remove {
        transition:0s linear all;
      }
      .selected.ng-hide-add-active,
      .selected.ng-hide-remove-active {
        transition:0.5s linear all;
      }
      .selected.ng-hide {
        // height: 0px; //slider?
        width: 0px;
      }
    }

    // .tile:hover {
    //   transform: scale(1.02);
    //   box-shadow: 8px 8px 8px grey;
    //   -webkit-transition:all linear 1s;
    //   transition:all linear 1s;
    // }

    // Tile Animations
    .tile.ng-enter {
      opacity: 0;
    }
    .tile.ng-enter-stagger {
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;

      // To avoid CSS inheritance
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
    .tile.ng-enter.ng-enter-active {
      opacity: 1;
    }
    .tile.ng-leave, .title.ng-leave-active {
      opacity: 0;
      -webkit-transition:all linear 0s;
      transition:all linear 0s;
    }
  }

  .sidebar {
    position: relative;
    flex: 1;
    background: #D0D2D3;
  }
}

//temp
.clear {
  height: 30px;
  width: 80px;
  float: right;

}

footer {
  position: fixed;
  top: 750px;
  bottom: 0;
  width: 100%;
  background: $color-dataxu-red;
}
