html, body {
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  top: 50%;
  text-align: center;
  color: white;
}

header {
  position: fixed;
  height: 150px;
  width: 100%;
  min-width: 630px;
  background: #dc143c;

  //hack - replace
  div {
    position: relative;
    text-align: center;
    top: 50%;

    input {
      height: 15px;
      width: 400px;
      padding: 20px;
      font-size: 15px;
      border-radius: 5px;
      background: lightgrey;
      opacity: .5;
    }
  }
}

section {
  position: fixed;
  display: flex;
  top: 150px;
  height: 600px;
  width: 100%;
  background: #87CEEB;

  .container {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    align-content: flex-start;
    justify-content: center;
    height: 100%;
    min-width: 630px;
    overflow-y: scroll;
    .tile {
      height: 200px;
      width: 200px;
      margin: 5px;
      background: #6A5ACD;
      .selected { //this will be a class added on ng click
        position: absolute;
        top:0;
        left:0;
        height: 600px;
        width: 100%;
        padding: 15px;
        z-index: 99;
        background: #6A5ACD;
        -webkit-transition: 1s;
      }
    }
  }

  .sidebar {
    position: relative;
    flex: 1;
    background: yellow;
  }
}

footer {
  position: fixed;
  top: 750px;
  bottom: 0;
  width: 100%;
  background: #dc143c;
}
