<div class="container-tiles">

  <div class="container-tile" ng-repeat="publisher in home.searchResults=(home.publishers | orderBy:'rating':true | filter:home.search.filterString)" ng-click="home.routeToPublisher(publisher)">

    <div class="heading">
      <h1>{{ ::publisher.domainFull }}</h1>
    </div>

    <div class="content-tile">
      <div class="container-row-tile">
        <div class="col-flex-1">
          <div class="row-tile"><strong>Floor Price:</strong></div>
          <div class="row-tile"><strong>Demographic:</strong></div>
          <div class="row-tile"><strong>Age Range:</strong></div>
        </div>
        <div class="col-flex-1">
          <div class="row-tile right">{{ ::publisher.bidFloorPrice | currency }}</div>
          <div class="row-tile right">M: {{ ::publisher.demoMale}}% / F: {{::publisher.demoFemale }}%</div>
          <div class="row-tile right">{{ ::publisher.ageRange}} </div>
        </div>
      </div>
    </div>

    <div class="square-bottom-right">{{ publisher.rating }}</div>
  </div>

  <div ng-hide="home.searchResults.length">
    No search results...
  </div>

</div>

<!-- <div class="sidebar" ng-click="home.updateScores()"> -->
<div class="sidebar">
  <filter-box model="home.publishers" key="company" label="publishers" handler="home.updateSearch(query)"></filter-box>
  <filter-box model="home.categories" key="name" label="categories" handler="home.updateSearch(query)"></filter-box>
</div>
