<div class="container-tiles">

  <div class="container-tile" ng-repeat="publisher in home.publishers | orderBy:'rating':true | filter:home.search" ng-click="home.select($event, $index)" >

    <div class="heading-tile">
      <h1>{{ ::publisher.domain.full }}</h1>
    </div>

    <div class="content-tile">
      <p ng-repeat="note in publisher.notes">
        note: {{ note.text }}
      </p>
    </div>

    <div class="square-bottom-right">{{ publisher.rating }}</div>
  </div>

</div>
<div class="sidebar"></div>
