<div class="container-tiles">

  <div class="container-tile" ng-repeat="publisher in home.searchResults=(home.publishers | orderBy:'rating':true | filter:home.search.filterString)" ng-click="home.routeToPublisher(publisher)">

    <div class="heading">
      <h1>{{ ::publisher.domainFull }}</h1>
    </div>

    <div class="content-tile">
      <ul>
        <li> Floor Price: {{ ::publisher.bidFloorPrice | currency }} </li>
        <li> Demographic: {{ ::publisher.demographic }}</li>
      </ul>

    </div>

    <div class="square-bottom-right">{{ publisher.rating }}</div>
  </div>

  <div ng-hide="home.searchResults.length">
    No search results...
  </div>

</div>

<!-- <div class="sidebar" ng-click="home.updateScores()"> -->
<div class="sidebar">
  <filter-box model="home.publishers" key="company" label="publishers" handler="home.updateSearch(query)"></filter-box>
  <filter-box model="home.categories" key="name" label="categories" handler="home.updateSearch(query)"></filter-box>
</div>
