<div class="container-tiles">

  <div class="container-tile" ng-repeat="publisher in home.searchResults=(home.publishers | orderBy:'rating':true | filter:home.search.filterString)" ng-click="home.select($event, $index)" >

    <div class="heading">
      <h1>{{ ::publisher.domain.full }}</h1>
    </div>

    <div class="content-tile">
      <p> category: {{ ::publisher.category }}
      <p ng-repeat="note in publisher.notes">
        note: {{ ::note.text }}
      </p>
    </div>

    <div class="square-bottom-right">{{ publisher.rating }}</div>
  </div>

  <div ng-hide="home.searchResults.length">
    No search results...
  </div>

</div>
<div class="sidebar">

  <div class="container-side">

    <div class="heading">
      <div class="col-flex-1">
        <span>Categories</span>
      </div>

      <div class="col-flex-2">
        <input class="short" ng-model="home.categoryFilter" placeholder="filter..."/>
      </div>
    </div>

    <div class="container-content-side">
      <div class="content-side" ng-repeat="category in home.categories | filter:home.categoryFilter" ng-click="home.updateSearch(category.name)">
        {{ ::category.name }}
      </div>
    </div>

  </div>


</div>
